extends layout

block content

 

   div.jumbotron
    h1 Your Zip code is #{zip} 
    p The average Cable Bill in Irvine is $#{localaverageprice}
  
   div.row
    h2 Cable Packages available in your area:
    table.table
     thead
      tr
       td Contract Price
       td Package
       td TV
       td Internet
       td Top Shows
     tbody
      tr 
       td $29.99
       td ATT U-Verse Pro
       td 25 channels
       td 3 Mbps
       td 
        ul
         li show1
         li show2
         li show3
      tr 
       td $34.99
       td COX Internet Essential
       td 25 channels
       td 10 Mbps
       td 
        ul
         li show1
         li show2
         li show3
      tr 
       td $34.99
       td COX Internet Essential
       td 25 channels
       td 10 Mbps
       td 
        ul
         li show1
         li show2
         li show3
      tr 
       td $39.99
       td ATT U-Verse Elite 
       td 25 channels
       td 12 Mbps
       td 
        ul
         li show1
         li show2
         li show3    
      tr 
       td $49.99
       td ATT U-Verse Elite 
       td 25 channels
       td 12 Mbps
       td 
        ul
         li show1
         li show2
         li show3    

     


   footer
    hr
    p copyright 2013 cordcutter


 
