extends layout

block content

   div.jumbotron
    h1 Cut the Cord
    h2 Local offers for Cable and Internet
    p Enter Your Zip Code to get Started 
    div.formgroup
     input(type='text' class='form-control' placeholder='zip')
     button(type='submit' class='btn btn-primary btn-lg') Submit

   div.row
    div.col-md-4 
     h2 Easy
     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    div.col-md-4
     h2 Simple 
     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
    div.col-md-4
     h2 Social
     p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

   footer
    p copyright 2013 cordcutter


 
